a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none; 
}

a:link { 
    color: grey;
    text-decoration: none; 
}

a:visited { 
    color: grey;
    text-decoration: none; 
}

a:active { 
    color: grey;
    text-decoration: none; 
}

textarea {
    border: 1px solid #888; 
}

input {
    border: 2px solid #888; 
    border-radius: 10px;
}